[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "~=4.3"
flake8 = "~=3.8"
django-extensions = "~=2.2"
future = "~=0.18"
werkzeug = "~=1.0"
django-debug-toolbar = "~=3.2"

[packages]
django = "~=2.2"
django-environ = "~=0.4"
djangorestframework = "~=3.11"
psycopg2-binary = "~=2.8"
coverage = "~=5.1"
cx-oracle = "~=7.3"
requests = "~=2.23"
django-filter = "~=2.2"
django-cas-ng = "~=4.1"
factory-boy = "~=2.12"
django-mptt = "~=0.11"
django-redis = "~=4.12"
celery = "~=4.4"
flower = "~=0.9"
sentry-sdk = "~=0.16"
uwsgi = "~=2.0"
django-celery-beat = "~=2.0"
drf-nested-routers = "~=0.91"

[requires]
python_version = "3.7"
