[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
"flake8" = "*"
django-extensions = "*"
django-debug-toolbar = "*"
v = {editable = true,version = "*"}

[packages]
django = ">=2.2,<3"
django-environ = ">=0.4,<1"
djangorestframework = ">=3.11,<4"
"psycopg2-binary" = ">=2.8,<3"
coverage = "~=5.1,<6"
cx-oracle = "==7.3.0"
requests = "~=2.23"
django-filter = "~=2.2"
django-cas-ng = ">=4.1,<5"
factory-boy = "~=2.12"
django-mptt = "~=0.3"

[requires]
python_version = "3.7"
