{% load static %}
<!DOCTYPE html> 
<head> 
	<meta name="Author" content="Leo Tu" />
	<meta name="Copyright" content="&copy; 2020 Leo Tu" />
	<meta http-equiv="Content-Type" content="text/html"; charset="uft-8" />
	<meta http-equiv="Content-Language" content="en-US" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />

	<title>DRS</title>
	  
	<link rel="shortcut icon" href="{% static '/images/logoico.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static '/images/logoico.ico' %}" type="image/x-icon">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
	<!-- Bootstrap XXL CSS --><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xbrain-bootstrap-xxl@1.0.1/css/xbrain-bootstrap-xxl.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
	
	<link href="https://fonts.googleapis.com/css?family=Nunito:700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:400i&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla" >
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">

	<!--plugin datepicker--><link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css" />
	<!--Plugin Animate--><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	<!--plugin select--><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
	<!-- Plugin date rangepicker --><link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<!-- Plugin summernote -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
	<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.css">
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- Plugin date rangepicker -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<!-- <script type="text/javascript" src="{% static '/js/daterangepicker.js' %}"></script> -->
	<!-- jquery validate -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>	<!--Plugin tabDrable--><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
	<!--Plugin easeFunction--><script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<!--plugin datepicker--><script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<!--plugin filesize.js--><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/filesize/4.1.2/filesize.js"></script>
	<!--plugin numerator--><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-numerator@0.2.1/jquery-numerator.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!--plugin select-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

	<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
	<!-- Plugin summernote -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
	<script type="text/javascript">
		let images={
			"logoportrait":"{% static '/images/logoportrait.svg' %}",
			"defaultavatar":"{% static '/images/defaultsticker.png' %}",
			"loadinggif_path":"{% static '/images/loading.svg' %}",
			"404":"{% static '/images/404.png' %}",
			"upload":"{% static '/images/upload.svg' %}",
			"document":"{% static '/images/document.svg' %}",
			"status":"{% static '/images/service.png' %}",
			"pending":"{% static '/images/pending.png' %}",
			"approve":"{% static '/images/approve.png' %}",
			"assigndev":"{% static '/images/assigndev.png' %}",
			"signerwait":"{% static '/images/signerwait.PNG' %}",
			"schedule":"{% static '/images/schedule.png' %}",
			"pend_schedule":"{% static '/images/pend_schedule.png' %}",
			"ajaxfail":"{% static '/images/ajaxfail.png' %}",
			"reject":"{% static '/images/reject.png' %}",
			"closed":"{% static '/images/closed.png' %}",
			"developing":"{% static '/images/developing.png' %}",
			"finalcheck":"{% static '/images/finalcheck.png' %}",
			"completed":"{% static '/images/completed.png' %}",
		};
		let file_template_path="{% static '/images/pending.png' %}";
	</script>
	<script type="text/javascript">
		{% autoescape off %}
		$.ajaxSetup({
			headers: {'X-CSRFToken': "{{ csrf_token }}"},
		});
		{% endautoescape %}
	</script>
	<link rel="stylesheet" href="{% static '/css/basic.css' %}"/>
	<link rel="stylesheet" href="{% static '/css/datepicker.css' %}"/>
	<link rel="stylesheet" href="{% static '/css/progress.css' %}"/>
	<link rel="stylesheet" href="{% static '/css/drs.css' %}"/>
	<link rel="stylesheet" href="{% static '/css/rwd.css' %}"/>
	<script type="text/javascript" src="{% static '/js/fakedata.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/modal.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/component.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/backend.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/progress.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/basic.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/tag_modal.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/dev_modal.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/drs.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/flow.js' %}"></script>
</head>
<body class="bg-white">
    <div class="container bg-white">
        <nav class="mt-1 text-secondary align-items-center d-flex justify-content-end" id="navbar">					
            <div class="d-inline-flex align-items-center" id="navBTNs">
                <form class="form-inline my-2 my-lg-0" >
					<div class="dropdown ml-3 mr-3" id="navSelectMessage">
						<button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" id="message" disabled> <i class="fa fa-bell fa-lg"></i> </button>
						<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-135px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
							<div class="dropdown-item d-inline-flex align-items-center">
								<i class="text-light fa fa-signature fa-lg ml-1"></i>
								<div class="ml-3">
									<img class="sticker" src="" onerror="this.src='{% static '/images/defaultsticker.png' %}'">
									<span class="text-grey">Jeff SH Wang/</span><small class="text-grey ml-2">2020-08-26</small>
									<h6 class="ellipsis text-grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</h6>
								</div>
							</div>
							<div class="dropdown-item d-inline-flex align-items-center">
								<i class="text-primary fas fa-puzzle-piece fa-lg ml-1"></i>
								<div class="ml-3">
									<img class="sticker" src="" onerror="this.src='{% static '/images/defaultsticker.png' %}'">
									<span>Jeff SH Wang/</span><small class="text-grey ml-2">2020-08-26</small>
									<h6 class="ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</h6>
								</div>
							</div>
							<div class="dropdown-item d-inline-flex align-items-center">
								<i class="text-primary fa fa-pen fa-lg ml-1"></i>
								<div class="ml-3">
									<img class="sticker" src="" onerror="this.src='{% static '/images/defaultsticker.png' %}'">
									<span>Jeff SH Wang/</span><small class="text-grey ml-2">2020-08-26</small>
									<h6 class="ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</h6>
								</div>
							</div>
							<div class="dropdown-item d-inline-flex align-items-center">
								<i class="text-primary fa fa-pen fa-lg ml-1"></i>
								<div class="ml-3">
									<img class="sticker" src="" onerror="this.src='{% static '/images/defaultsticker.png' %}'">
									<span>Jeff SH Wang/</span><small class="text-grey ml-2">2020-08-26</small>
									<h6 class="ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</h6>
								</div>
							</div>
							<div class="dropdown-item d-inline-flex align-items-center">
								<i class="text-primary fa fa-signature fa-lg ml-1"></i>
								<div class="ml-3">
									<img class="sticker" src="" onerror="this.src='{% static '/images/defaultsticker.png' %}'">
									<span>Jeff SH Wang/</span><small class="text-grey ml-2">2020-08-26</small>
									<h6 class="ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</h6>
								</div>
							</div>
							<div class="dropdown-item d-inline-flex align-items-center">
								<i class="text-light fa fa-signature fa-lg ml-1"></i>
								<div class="ml-3">
									<img class="sticker" src="" onerror="this.src='{% static '/images/defaultsticker.png' %}'">
									<span class="text-grey">Jeff SH Wang/</span><small class="text-grey ml-2">2020-08-26</small>
									<h6 class="ellipsis text-grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</h6>
								</div>
							</div>
							<div class="dropdown-item text-center align-items-baseline">
								<h6>Read more <i class="fa fa-ellipsis-h ml-1"></i> </h6>
							</div>
						</div>
						<span id="messageCount"> --- </span>
					</div>

                    <div class="dropdown" id="navSelectUser">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" id="navUser"> 
						<!-- <img class="sticker" onerror="this.src='{% static '/images/defaultsticker.png' %}'" > -->
                            <img class="sticker bg-light">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item align-items-center d-flex" id ="user" target="_blank"> 
								<img class="sticker mr-2">
								<span><!-- Leo Tu/WHQ/Wistron  --></span>
                            </a>
                            <a class="dropdown-divider"></a>
                            <a class="dropdown-item" id ="logout" href="./cas/logout"> <i class="fas fa-sign-out-alt fa-fw"></i> Log Out </i></a>
                        </div>
					</div>
					
                </form>
            </div>
        </nav>
        <div class="pb-2">
			<div class="col-12">
				<!-- title -->
				<h3 class="text-secondary pl-1" id="pagetitle"> Development Requirement List </h3>
				<div id="chartDiv" class="mb-5 mt-3" style="display: none;">
					<iframe class="chart-container" id="chart" frameborder="0" allowFullScreen="true" responsive="true" maintainAspectRatio="false" ></iframe>
				</div>
				<!-- main table -->
				<table class="table table-hover" id="table">
				</table>
			</div>
        </div>
	</div>
	
<!-- RequestModal form -->


<!-- tagModal -->
	<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		  	<div class="modal-content p-3">
				<div class="modal-body">
					<div class="col-12 bg-white">	
						<div class="d-flex justify-content-between align-items-start">
							<div class="">
								<h5 class="text-bluegray"> Depending on which form</h5>
							</div>
							<button type="button" class="close" data-dismiss="modal">
								<span> &times; </span>
							</button>
						</div>
						
						<div class="d-inline-flex align-items-baseline w-100 ">
							<h6 class="modal-title text-secondary text-center font-weight-bold"> At present, depened-on form parents record </h6>
							<button type="button" class="btn btn-danger btn-sm ml-2" id="remove_tag"><i class="fas fa-trash-alt"></i> Remove parent tag</button>
						</div>
						<div id="present_tag_table_div">
							<table class="table table-borderless mt-1" id="present_tag_table"></table>
						</div>

						<hr>
						<form id="FormTag" class="w-100">
							<!-- Assign which team -->
							<h6 class="text-secondary font-weight-bold"> Search depend-on form </h6>
							<div class="row align-items-baseline mt-3">
								<label class="col-3"> Search field </label>
								<div class="btn-group btn-group-toggle col-9" data-toggle="buttons" id="search_tag_field">
									<label class="btn btn-outline-secondary">
										<input type="radio" name="field" value="title" required> Title
									</label>
									<label class="btn btn-outline-secondary">
										<input type="radio" name="field" value="initiator" required> Initator
									</label>
									<label class="btn btn-outline-secondary">
										<input type="radio" name="field" value="assigner" required> Form receiver
									</label>
									<label class="btn btn-outline-secondary">
										<input type="radio" name="field" value="developers" required> Developers
									</label>
								</div>
							</div>
							<div class="row align-items-center mt-3">
								<label class="col-3"> Search </label>
								<div class="input-group mb-2 col-9">
									<input type="text" class="field-style form-control" name="search_keywords" placeholder="Search..." id="search_tag">
									<div class="input-group-append">
										<button class="btn btn-secondary" type="button" id="search_tag_btn"> <i class="fa fa-search"></i> </button>
									</div>
								</div>
							</div>
							<hr class="devsearch_fade" style="display: none;">
							<!-- Assign content -->
							<h6 class="text-secondary font-weight-bold mt-3 devsearch_fade" style="display: none;"> Search result </h6>
							<div id="result_tag_table_div">			
								<table class="table table-borderless mt-1 devsearch_fade" id="result_tag_table" style="display: none;"></table>
							</div>	
							<!-- <hr>
							<div class="d-flex justify-content-end mt-4">
								<button type="button" class="btn btn-info" id="tagBTN"> <i class="far fa-paper-plane mr-1"></i> Save </button>
							</div> -->
						</form>	
					</div>						
				</div>		
		  	</div>
		</div>
	</div>

	<!-- record tag_info_Modal -->


	<!-- developersModal -->
	<div class="modal fade" id="developersModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content p-3">
				<div class="modal-body">
					<div class="col-12 bg-white">	
						<div class="d-flex justify-content-between align-items-start">
							<div>
								<h5 class="text-bluegray"> Assign developers </h5>
								<p class="text-secondary"> The form is divided to two parts. One show the current developers list. Another part provide you to search member to join your developers list.</br> 
															<strong>Rule: You need to select one developer from developers as contact window.</strong></p>
							</div>
							<button type="button" class="close" data-dismiss="modal">
								<span> &times; </span>
							</button>
						</div>
						<hr>
						<div class="mt-2">
							<h6 class="modal-title text-secondary font-weight-bold"> At present, Developer team member list </h6>
							<div class="row align-items-baseline mt-3">
								<label class="col-3">&#9733 Developer contact windaw </label>
								<div class="btn-group btn-group-toggle col-9" data-toggle="buttons" id="sel_devcontacter_div">
									<select class="field-style form-control selectpicker" title="Select contact window..."></select>
								</div>
							</div>
						</div>
						<hr>
						<div id="present_dev_table_div">
							<table class="table table-borderless mt-1" id="present_dev_table">
								<tbody></tbody>
							</table>
						</div>
						<hr>
						<form id="FormDevelopers" class="w-100">
							<!-- Assign which team -->
							<h6 class="text-secondary font-weight-bold"> Search developer to add </h6>
							<small class="font-weight-bold text-secondary mr-2 mt-2" id="developers_limit"> Current team member 
								<span class="badge badge-light badge-pill p-1 pr-2 font-weight-bold">
									<i class="fa fa-users mr-1 ml-2 text-secondary"></i><!-- current developers number -->
								</span>
								<span class="badge badge-light badge-pill p-1 pr-2"><!-- Limitation 15 --></span>
							</small>
							<div class="row align-items-baseline mt-3">
								<label class="col-3">&#9733 Which site </label>
								<div class="btn-group btn-group-toggle col-9" data-toggle="buttons" id="search_dev_site">
									<select class="field-style form-control selectpicker" name="site__exact" title="Select site..." required>
										<option value=""> Select... </option>
										<option value="WHQ"> WHQ </option>
										<option value="WZS"> WZS </option>
										<option value="WNH"> WNH </option>
									</select>
								</div>
							</div>
							<div class="row align-items-baseline mt-3">
								<label class="col-3">&#9733 Search field </label>
								<div class="btn-group btn-group-toggle col-9" data-toggle="buttons" id="search_dev_field">
									<label class="btn btn-outline-secondary">
										<input type="radio" name="field" value="employee_id" required> Id
									</label>
									<label class="btn btn-outline-secondary">
										<input type="radio" name="field" value="english_name" required> Name
									</label>
									<label class="btn btn-outline-secondary">
										<input type="radio" name="field" value="department_id" required> Department
									</label>
								</div>
							</div>
							<div class="row align-items-center mt-3">
								<label class="col-3">&#9733 Search </label>
								<div class="input-group mb-2 col-9">
									<input type="text" class="field-style form-control" name="search_keywords" placeholder="Search..." id="search_dev" required>
									<div class="input-group-append">
										<button class="btn btn-secondary" type="button" id="search_dev_btn"><i class="fa fa-search"></i></button>
									</div>
								</div>
							</div>
							<hr class="devsearch_fade">
							<!-- Assign content -->
							<h6 class="text-secondary font-weight-bold mt-3 devsearch_fade"> Search result </h6>
							<div id="result_tag_table_div">
								<table class="table table-borderless mt-1 devsearch_fade" id="result_dev_table"></table>
							</div>
							<hr>
						</form>	
					</div>
					<div class="d-flex justify-content-end mt-2">
						<button type="button" class="btn btn-info" id="update_dev_btn"> <i class="far fa-paper-plane mr-1" ></i> Save </button>
					</div>						
				</div>		
			</div>
		</div>
	</div>

	<!--Alert Modal -- permission denied-->
	<div class="modal fade" id="alertModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content modal-content-body bg-grey">
				<div class="mt-2 mb-3">
					<div class="cover mx-auto mb-2">
						<img id="alert_img">
					</div>
					<h3 class="ml-3 text-secondary text-center" id="alert_title"> -- Upload Denied -- </h3>
					<hr class="text-secondary">
					<p class="text-secondary">
						<i class="fa fa-bullhorn text-danger mr-2"></i>
						<span id="alert_content"> Upload file selected is oversize. Max-allowed-uploaded-file size is <strong>10 Mb</strong>.</span></br>
					</p>
					<div style="max-height:12em; overflow:auto;">
						<p id="alert_detail" class="text-secondary mt-2" style="word-break: break-all;"></p>
					</div>
					<hr>
					<div class="col-6">
						
						<h6 class="text-secondary">Free to contact:</h6></br>
						<small class="mt-2 text-grey">
							<a href="http://10.32.20.124:50005/profile/9505005" target="_blank" class="fa fa-external-link-alt mr-2"></a>Luis Liao    #5610</br>
							<a href="http://10.32.20.124:50005/profile/10612704" target="_blank" class="fa fa-external-link-alt mr-2"></a>Jeff SH Wang #4815</br>
							<a href="http://10.32.20.124:50005/profile/10712714" target="_blank" class="fa fa-external-link-alt mr-2"></a>Leo Tu       #6207
						</small>
					</div>
					<div class="text-center mt-3 mb-3">
						<button class="btn btn-outline-secondary" type="button" data-dismiss="modal"> <i class="fa fa-exclamation-triangle"></i> Cancel </button>
					</div>
					<small class="text-grey d-flex justify-content-center"> Copyright © 2019 Wistron </small>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade bg-light" id="errorModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content modal-content-transparent">
				<div class="mt-2 mb-2 d-flex justify-content-between align-items-baseline">
					<h6 class="modal-title text-secondary" id="error"> Error | <span></span> </h6>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade bg-light" id="emailModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content modal-content-transparent">
				<div class="wrapper">
					<svg class="plane" viewBox="0 0 139 139">
						<defs>
							<linearGradient id="a" x1="147.152%" x2="0%" y1="-47.397%" y2="100%">
								<stop offset="0%" stop-color="#4b586e"/><stop offset="100%" stop-color="#4b586e"/>
							</linearGradient>
						</defs>
						<path fill="#4b586e" stroke="url(#a)" stroke-width="1" d="M171.1455 37.3577l-131.69 71.251a2.7136 2.7136 0 0 0-1.4535 2.5092 2.7138 2.7138 0 0 0 1.6436 2.3892l22.4823 8.4671a5.2937 5.2937 0 0 1 2.9597 2.7138l17.4183 35.9715c.3259 1.5876 3.2583 2.0083 3.299.3935l-2.7152-29.7026c.157-2.2004.997-4.297 2.403-5.9975L153.795 58.471a1.6162 1.6162 0 0 1 1.4798-.4207c.526.1172.9531.4993 1.1277 1.0088a1.5462 1.5462 0 0 1-.2724 1.488l-58.8803 71.9973a13.1443 13.1443 0 0 0-2.308 5.9297l-3.5298 25.659c.2986 2.239 2.05 3.0938 3.462 1.0855l12.6802-14.926c.8703-1.1836 2.525-1.4602 3.7334-.624l32.6917 23.8136a2.635 2.635 0 0 0 2.5231.3387 2.6328 2.6328 0 0 0 1.6313-1.9534l26.8131-131.6197a2.713 2.713 0 0 0-1.004-2.6831 2.7164 2.7164 0 0 0-2.8516-.2886l.0543.0815z" transform="translate(-37 -36)"/>
					</svg>
				</div>
				<hr class="line">
				<div class="mr-3 pl-5 text-right">
					<h6 class="text-secondary"> <span> This request is closed.</span> Successfully email to </h6>
					<span class="text-secondary" id="emailwho"> Luis Liao/ Leo Tu/ Helen Chang</span></br>
				</div>
			</div>
		</div>
	</div>

<!-- Progress modal -->

	<div id="TimelineHint" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Timeline Hint</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body px-0">
					<table class="table table-borderless text-nowrap lead mb-0">
						<tr>
							<td class="text-center"><span style="border-left: 2px dashed red;"></span></td>
							<td>Today mark</td>
						</tr>
						<tr>
							<td class="text-center"><span style="border-left: 3px dashed black;"></span></td>
							<td>Milestone mark</td>
						</tr>
						<tr>
							<td class="text-center"><i class="fas fa-undo-alt fa-fw"></i></td>
							<td>Reset to default scale</td>
						</tr>
						<tr>
							<td><i class="fas fa-search-minus fa-fw"></i><i class="fas fa-search-plus fa-fw"></i></td>
							<td>Zoom-out / Zoom-in</td>
						</tr>
						<tr>
							<td><i class="fas fa-chevron-left fa-fw"></i><i class="fas fa-chevron-right fa-fw"></i></td>
							<td>Scroll left / right</td>
						</tr>
						<tr>
							<td><i class="fas fa-angle-double-left fa-fw"></i><i class="fas fa-angle-double-right fa-fw"></i></td>
							<td>Scroll left / right faster</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="modal fade" id="milestoneModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content modal-content-body">
				<div class="d-inline-flex justify-content-between align-items-baseline col-12 p-2">
					<h5 class="text-secondary" id="milestone_modal_title"> Add New milestone </h5>
					<button type="button" class="close" data-dismiss="modal">
						<span> &times; </span>
					</button>
				</div>
				<form id="FormAddMilestone" class="col-12">
					<div class="row align-items-center mt-2 editShow readShow" style="display: none;">
						<label class="col-4">Editor</label>
						<div class="mb-2 pl-3 col-8 d-inline-flex align-items-center">
							<img class="sticker mr-2" src="../static/images/defaultsticker.png">
							<span class="text-grey editor "></span>
						</div>
					</div>
					<div class="row align-items-center mt-2 editShow readShow" style="display: none;">
						<label class="col-4">Last Updated time</label>
						<div class="mb-2 pl-3 col-8 d-inline-flex align-items-baseline">
							<span class="text-grey update_time"></span>
						</div>
					</div>
					<hr>
					<div class="row align-items-center mt-2">
						<label class="col-4"> &#9733 Milestone </label>
						<div class="mb-2 col-8 d-inline-flex align-items-baseline">
							<input type="text" class="form-control field-style" name="name" placeholder="..." required>
						</div>
					</div>
					<div class="row align-items-top mt-2">
						<label class="col-4"> &#9733 Description </label>
						<div class="mb-2 col-8 d-inline-flex align-items-baseline">
							<textarea type="text" class="form-control field-style bd-radius-8" name="description" placeholder="..." required></textarea>
						</div>
					</div>
					<div class="row align-items-center mt-2">
						<label class="col-4"> &#9733 Estimated developing period</label>
						<div class="mb-2 col-8 d-inline-flex align-items-baseline">
							<div class="input-group">
								<input type="text" class="form-control field-style" name="est_dev_period" id="est_dev_period" placeholder="YYYY-MM-DD - YYYY-MM-DD" required>
							</div>
						</div>
					</div>
					<div class="row align-items-center mt-2">
						<label class="col-4"> &#9733 Complete rate</label>
						<div class="mb-2 col-8 d-inline-flex align-items-baseline">
							<div class="input-group">
								<input type="text" value="0" class="form-control field-style" name="complete_rate" id="progress_complete_rate" style="ime-mode:disabled" onkeyup="return ValidateNumber($(this),value)" placeholder="0~100" required>
								<div class="input-group-append">
									<button class="btn btn-light font-weight-bold" type="button"> % </button>
								</div>
							</div>
						</div>
					</div>
					<small class="text-secondary d-flex justify-content-end mb-2">
						★ is required field. Need to fill out before requesting.
					</small>
					<hr>
					<div class="mb-2 d-flex justify-content-between">
						<div class="d-flex justify-content-start">
							<button type="button" class="btn btn-danger editShow" id="delProgress" style="display: none;">
								<i class="fa fa-trash-alt mr-2"></i>Delete
							</button>
						</div>
					
						<div class="d-flex justify-content-end">
							<button type="button" class="btn btn-info" id="addProgress">
								<i class="fa fa-plus mr-2"></i>Add new milestone
							</button>
							<button type="button" class="btn btn-info ml-2 editShow" id="updateProgress" style="display: none;">
								<i class="fa fa-check-double mr-2"></i>Save
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div> -->




</body>